apiVersion: v1
kind: ConfigMap
metadata:
  name: dex
  namespace: auth
data:
  config.yaml: |
    issuer: http://dex.auth.svc.cluster.local:5556

    storage:
      type: kubernetes
      config:
        inCluster: true

    web:
      http: 0.0.0.0:5556

    staticClients:
    - id: cli
      name: cli
      secret: cli-secret
      redirectURIs:
      - http://127.0.0.1:5555/callback
      - http://localhost:5556/device/callback
      - http://dex.auth.svc.cluster.local:5556/device/callback
      - /device/callback
      public: false
      trustedPeers: []

    enablePasswordDB: true
    connectors:
    - type: ldap
      id: forumsys
      name: ForumSys LDAP
      config:
        host: ldap.forumsys.com:389
        insecureNoSSL: true
        insecureSkipVerify: true

        # Try anonymous bind (no credentials needed for read operations)
        # bindDN: "uid=read-only-admin,dc=example,dc=com"
        # bindPW: "password"

        usernamePrompt: "Username"

        userSearch:
          baseDN: "dc=example,dc=com"
          filter: "(objectClass=person)"
          username: "uid"
          idAttr: "uid"
          emailAttr: "mail"
          nameAttr: "cn"

